{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block content %}
<main>
	<section class="back">
		<br /><br /><br />
		<div
			style="
				display: flex;
				justify-content: center;
				align-items: center;
				margin-top: 15%;
			"
		>
			<div class="text-white" style="text-align: left">
				<div class="container">
					<p style="font-size: 1.59rem">
						<strong
							>{% trans 'ОРГАН ПО СЕРТИФИКАЦИИ' %} <br />
							{% trans 'АВТОМОТОТРАНСПОРТНЫХ СРЕДСТВ' %}</strong
						>
					</p>
					<p style="font-size: 1.3rem">
						{% trans 'Орган по сертификации автомототранспортных средств, спецтехники и их составных частей, предметов оборудования и прицепов' %}.
					</p>
					<a href="#apl-form" class="btn btn-success btn-lg"
						>{% trans 'Заказать услугу' %}</a
					>
				</div>
			</div>
		</div>
	</section>
	<br /><br /><br />
	<section id="useful">
		<div class="container">
			<div class="text-center">
				<div style="font-size: 2.5rem; margin-bottom: 80px; font-weight: 500">
					{% trans 'Наши преимущества' %}
				</div>
			</div>
			<div class="row">
				<div class="col-12 col-md-6 col-lg my-4">
					<div class="text-center">
						<img
							src="{% static 'images/certificate.png' %}"
							width="100"
							alt=""
							class="img-fluid"
						/>
					</div>
					<br />
					<div class="text-center" style="font-weight: 500">
						{% trans 'У НАС САМЫЕ ВЫГОДНЫЕ УСЛОВИЯ ДОГОВОРА' %}
					</div>
				</div>
				<div class="col-12 col-md-6 col-lg my-4">
					<div class="text-center">
						<img
							src="{% static 'images/clock.png' %}"
							width="100"
							alt=""
							class="img-fluid"
						/>
					</div>
					<br />
					<div class="text-center" style="font-weight: 500">
						{% trans ' МЫ ПОМОЖЕМ ВАМ СЭКОНОМИТЬ ВАШЕ ВРЕМЯ' %}
					</div>
				</div>
				<div class="col-12 col-md-6 col-lg my-4">
					<div class="text-center">
						<img
							src="{% static 'images/operation-150x150.png' %}"
							width="100"
							alt=""
							class="img-fluid"
						/>
					</div>
					<br />
					<div class="text-center" style="font-weight: 500">
						{% trans 'УДОБНАЯ ОПЛАТА' %}
					</div>
				</div>
				<div class="col-12 col-md-6 col-lg my-4">
					<div class="text-center">
						<img
							src="{% static 'images/deal.png' %}"
							width="100"
							alt=""
							class="img-fluid"
						/>
					</div>
					<br />
					<div class="text-center" style="font-weight: 500">
						{% trans 'СОТРУДНИЧАЕМ С ПАРТНЕРАМИ' %}
					</div>
				</div>
			</div>
		</div>
	</section>
	<br /><br /><br />
	<section class="section" id="about">
		<div class="container">
			<br /><br />
			<div class="text-center">
				<div style="font-size: 3rem; margin-bottom: 80px; font-weight: 500">
					{% trans 'О нас' %}
				</div>
			</div>
			<div class="row">
				<div class="col-12 col-md-6 col-lg my-4 blk">
					<div class="text-center">
						<img
							src="{% static 'images/img19.jpg' %}"
							width="500"
							alt=""
							class="img-fluid"
						/>
					</div>
					<div class="text-center mt-md-4">
						<img
							src="{% static 'images/img20.jpg' %}"
							width="450"
							style="position: relative; bottom: 70px; left: 10px"
							alt=""
							class="img-fluid"
						/>
					</div>
				</div>
				<div
					class="col-12 col-md-6 col-lg my-4"
					style="display: flex; align-items: center; justify-content: center"
				>
					<div style="font-size: 18px">
						{% trans ' ООО «Avto Standart Etalon» аккредитованный орган по сертификации и испытательная лаборатория машиностроительной продукции. Специалисты ООО «Avto Standart Etalon» оценят Вашу продукцию в соответствии с действующими нормативными документами и проведут обязательную сертификацию. Все услуги, оказываемые нашими специалистами обеспечивают максимальную достоверность с применением современных инновационных и интеллектуальных технологий. ' %}
					</div>
				</div>
			</div>

			<br /><br />
			<div class="row">
				<div class="col-12">
					<div class="text-center">
						<div style="font-size: 2.5rem; margin-bottom: 40px; font-weight: 500; color: #2c3e50;">
							{% trans 'Информация о схемах сертификации' %}
						</div>
					</div>
					<div class="row justify-content-center">
						<div class="col-12 col-lg-8" style="font-size: 1.2rem;">
							{% trans 'Органом по сертификации продукции при OOO «Avto Standart Etalon» проводят сертификацию по схемам №1С, №3С и №4С в соответствии ПКМ РУз от 14.08.2024 №502 а также схемы 3,4,7 в соответствии ПКМ №318'%}
							
						</div>
					</div>
				</div>
			</div>

			<br /><br />
			<div class="text-center">
				<div>
					<img
						src="{% static 'images/img18.jpg' %}"
						class="im"
						width="300"
						height="400"
						style="object-fit: cover"
						alt=""
					/>
					<img
						src="{% static 'images/img19.jpg' %}"
						class="im"
						width="300"
						height="400"
						style="object-fit: cover"
						alt=""
					/>
					<img
						src="{% static 'images/img20.jpg' %}"
						class="im"
						width="300"
						height="400"
						style="object-fit: cover"
						alt=""
					/>
				</div>
				<br />
				<div>
					<img
						src="{% static 'images/img21.jpg' %}"
						class="im"
						width="299"
						height="400"
						style="object-fit: cover"
						alt=""
					/>
					<img
						src="{% static 'images/img22.jpg' %}"
						class="im"
						width="300"
						height="400"
						style="object-fit: cover"
						alt=""
					/>
					<img
						src="{% static 'images/img17.jpg' %}"
						class="im"
						width="300"
						height="400"
						style="object-fit: cover"
						alt=""
					/>
				</div>
			</div>
			<br /><br />
		</div>
	</section>
	<style>
	.team-photo {
		width: 160px;
		height: 160px;
		border-radius: 50%;
		object-fit: cover;
		object-position: center top;
		border: 3px solid #fff;
		box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
		transition: all 0.3s ease;
	}
	
	.team-photo:hover {
		transform: scale(1.05);
		box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
	}
	
	.team-member {
		margin-bottom: 40px;
		height: 280px;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	
	.team-member .member-info {
		margin-top: 15px;
		text-align: center;
		flex-grow: 1;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
	}
	
	.team-member .member-name {
		font-weight: 700;
		font-size: 16px;
		color: #2c3e50;
		margin-bottom: 8px;
		line-height: 1.3;
	}
	
	.team-member .member-title {
		font-style: italic;
		font-size: 14px;
		color: #7f8c8d;
		line-height: 1.4;
	}
	
	/* Поддержка 5 колонок в ряду */
	@media (min-width: 992px) {
		.col-lg-2-4 {
			flex: 0 0 20%;
			max-width: 20%;
		}
	}
	
	@media screen and (min-width: 768px) and (max-width: 990px) {
		.im {
			width: 200px;
		}
		.blk {
			padding-top: 100px;
		}
		.cer {
			padding-top: 300px;
			width: 350px;
			height: auto;
		}
		.team-photo {
			width: 140px;
			height: 140px;
		}
		.team-member {
			height: 260px;
		}
		.team-member .member-name {
			font-size: 15px;
		}
		.team-member .member-title {
			font-size: 13px;
		}
	}
	
	@media screen and (max-width: 767px) {
		.team-photo {
			width: 120px;
			height: 120px;
		}
		.team-member {
			height: 240px;
		}
		.team-member .member-name {
			font-size: 14px;
		}
		.team-member .member-title {
			font-size: 12px;
		}
	}
</style>
	<br /><br /><br />
	<section>
		<div class="container">
			<br /><br />
			<div class="text-center">
				<div style="font-size: 3rem; margin-bottom: 80px; font-weight: 500">
					{% trans 'Наши услуги' %}
				</div>
			</div>
			<div class="row row-cols-1 row-cols-md-2 g-4">
				<div class="col">
					<div class="card">
						<div class="card-body">
							<h5 class="card-title">
								{% trans 'СЕРТИФИКАЦИЯ АВТОМОТОТРАНСПОРТНЫХ СРЕДСТВ, СПЕЦТЕХНИКИ И ИХ СОСТАВНЫХ ЧАСТЕЙ' %}.
							</h5>
						</div>
					</div>
				</div>
				<div class="col">
					<div class="card">
						<div class="card-body">
							<h5 class="card-title">
								{% trans 'СЕРТИФИКАЦИЯ УСЛУГ ПО ТЕХНИЧЕСКОМУ ОБСЛУЖИВАНИЮ, И РЕМОНТУ АВТОМОТОТРАНСПОРТНЫХ СРЕДСТВ' %}.
							</h5>
						</div>
					</div>
				</div>
				<div class="col">
					<div class="card">
						<div class="card-body">
							<h5 class="card-title">
								{% trans 'АККРЕДИТОВАННАЯ ИСПЫТАТЕЛЬНАЯ ЛАБОРАТОРИЯ АВТОМОТОТРАНСПОРТНЫХ СРЕДСТВ, СПЕЦТЕХНИКИ И ИХ СОСТАВНЫХ ЧАСТЕЙ' %}.
							</h5>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section id="team">
		<div class="container">
			<br /><br /><br />
			<div class="text-center">
				<br /><br />
				<div style="font-size: 3rem; margin-bottom: 80px; font-weight: 500">
					{% trans 'Наша команда' %}
				</div>
			</div>
			<div class="row">
				<div class="col-12 col-md-6 col-lg-2-4">
					<div class="text-center team-member">
						<img
							src="{% static 'images/direktor.jpg' %}"
							alt=""
							class="img-fluid team-photo"
						/>
						<div class="member-info">
							<div class="member-name">
								{% trans 'Абдураззоков Умидулла Абдураззокович' %}
							</div>
							<div class="member-title">
								{% trans 'Директор' %} <br />
								Avto Standart Etalon
							</div>
						</div>
					</div>
				</div>
				<div class="col-12 col-md-6 col-lg-2-4">
					<div class="text-center team-member">
						<img
							src="{% static 'images/zam.jpg' %}"
							alt=""
							class="img-fluid team-photo"
						/>
						<div class="member-info">
							<div class="member-name">
								{% trans 'Зияев Камолиддин Зухритдинович'%}
							</div>
							<div class="member-title">
								{% trans 'Заместитель Директора' %}
							</div>
						</div>
					</div>
				</div>
				<div class="col-12 col-md-6 col-lg-2-4">
					<div class="text-center team-member">
						<img
							src="{% static 'images/texkon.jpg' %}"
							alt=""
							class="img-fluid team-photo"
						/>
						<div class="member-info">
							<div class="member-name">
								{% trans 'А. Мустафаев' %}
							</div>
							<div class="member-title">
								{% trans 'Технический консультат' %}
							</div>
						</div>
					</div>
				</div>

				<div class="col-12 col-md-6 col-lg-2-4">
					<div class="text-center team-member">
						<img
							src="{% static 'images/menejer.jpg' %}"
							alt=""
							class="img-fluid team-photo"
						/>
						<div class="member-info">
							<div class="member-name">
								{% trans 'Рашидов Азиз' %}
							</div>
							<div class="member-title">
								{% trans 'Менеджер по системе менеджмента качества' %}
							</div>
						</div>
					</div>
				</div>
				<div class="col-12 col-md-6 col-lg-2-4">
					<div class="text-center team-member">
						<img
							src="{% static 'images/alimjonov.jpg' %}"
							alt=""
							class="img-fluid team-photo"
						/>
						<div class="member-info">
							<div class="member-name">
								{% trans 'Алимжанов АлишерТургунов Диёр Шербекович' %}
							</div>
							<div class="member-title">
								{% trans 'Руководитель органа по сертификации' %}
							</div>
						</div>
					</div>
				</div>
				<div class="col-12 col-md-6 col-lg-2-4">
					<div class="text-center team-member">
						<img
							src="{% static 'images/nach.jpg' %}"
							alt=""
							class="img-fluid team-photo"
						/>
						<div class="member-info">
							<div class="member-name">
								{% trans 'Усманов Зафар Турсунович'%}
							</div>
							<div class="member-title">
								{% trans 'Начальник испытательной лаборатории' %}
							</div>
						</div>
					</div>
				</div>
				<div class="col-12 col-md-6 col-lg-2-4">
					<div class="text-center team-member">
						<img
							src="{% static 'images/ayrapetov-dmitriy.jpg' %}"
							alt=""
							class="img-fluid team-photo"
						/>
						<div class="member-info">
							<div class="member-name">
								{% trans 'Айрапетов Дмитрий Алексеевич'%}
							</div>
							<div class="member-title">
								{% trans 'Специалист испытательной лаборатории' %}
							</div>
						</div>
					</div>
				</div>
				<div class="col-12 col-md-6 col-lg-2-4">
					<div class="text-center team-member">
						<img
							src="{% static 'images/utaganov-sarvar.jpg' %}"
							alt=""
							class="img-fluid team-photo"
						/>
						<div class="member-info">
							<div class="member-name">
								{% trans 'Утаганов Сарвар Кахрамон угли'%}
							</div>
							<div class="member-title">
								{% trans 'Специалист испытательной лаборатории' %}
							</div>
						</div>
					</div>
				</div>
				<div class="col-12 col-md-6 col-lg-2-4">
					<div class="text-center team-member">
						<img
							src="{% static 'images/shermatov-botir.jpg' %}"
							alt=""
							class="img-fluid team-photo"
						/>
						<div class="member-info">
							<div class="member-name">
								{% trans 'Шерматов Ботир Панжи угли'%}
							</div>
							<div class="member-title">
								{% trans 'Специалист испытательной лаборатории' %}
							</div>
						</div>
					</div>
				</div>
				<div class="col-12 col-md-6 col-lg-2-4">
					<div class="text-center team-member">
						<img
							src="{% static 'images/ravshanbekov-jahongir.jpg' %}"
							alt=""
							class="img-fluid team-photo"
						/>
						<div class="member-info">
							<div class="member-name">
								{% trans 'Равшанбеков Жахонгир Алишер угли'%}
							</div>
							<div class="member-title">
								{% trans 'Специалист испытательной лаборатории' %}
							</div>
						</div>
					</div>
				</div>
				<div class="col-12 col-md-6 col-lg-2-4">
					<div class="text-center team-member">
						<img
							src="{% static 'images/pardaboev-adham.jpg' %}"
							alt=""
							class="img-fluid team-photo"
						/>
						<div class="member-info">
							<div class="member-name">
								{% trans 'Пардабоев Зиёвуддин Адхам угли'%}
							</div>
							<div class="member-title">
								{% trans 'Специалист испытательной лаборатории' %}
							</div>
						</div>
					</div>
				</div>
				<div class="col-12 col-md-6 col-lg-2-4">
					<div class="text-center team-member">
						<img
							src="{% static 'images/injer2.jpg' %}"
							alt=""
							class="img-fluid team-photo"
						/>
						<div class="member-info">
							<div class="member-name">
								{% trans 'Анваржонов Ахмаджон' %}
							</div>
							<div class="member-title">
								{% trans 'Инженер по сертификации' %}
							</div>
						</div>
					</div>
				</div>
				<div class="col-12 col-md-6 col-lg-2-4">
					<div class="text-center team-member">
						<img
							src="{% static 'images/injer3.jpg' %}"
							alt=""
							class="img-fluid team-photo"
						/>
						<div class="member-info">
							<div class="member-name">
								{% trans 'Улашев Жонибек' %}
							</div>
							<div class="member-title">
								{% trans 'Инженер-метролог' %}
							</div>
						</div>
					</div>
				</div>
				<div class="col-12 col-md-6 col-lg-2-4">
					<div class="text-center team-member">
						<img
							src="{% static 'images/injer4.jpg' %}"
							alt=""
							class="img-fluid team-photo"
						/>
						<div class="member-info">
							<div class="member-name">
								{% trans 'Мамасолиева Нафиса' %}
							</div>
							<div class="member-title">
								{% trans 'Инженер по стандартизации' %}
							</div>
						</div>
					</div>
				</div>
				<div class="col-12 col-md-6 col-lg-2-4">
					<div class="text-center team-member">
						<img
							src="{% static 'images/injer5.jpg' %}"
							alt=""
							class="img-fluid team-photo"
						/>
						<div class="member-info">
							<div class="member-name">
								{% trans 'Шавкатов Хумоюн' %}
							</div>
							<div class="member-title">
								{% trans 'Инженер-испытатель' %}
							</div>
						</div>
					</div>
				</div>
				<div class="col-12 col-md-6 col-lg-2-4">
					<div class="text-center team-member">
						<img
							src="{% static 'images/injer.jpg' %}"
							alt=""
							class="img-fluid team-photo"
						/>
						<div class="member-info">
							<div class="member-name">
								{% trans 'Тухтамишев Собит' %}
							</div>
							<div class="member-title">
								{% trans 'Инженер-испытатель' %}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<br /><br /><br />
	<br /><br /><br />
	<section>
		<div class="container">
			<div class="text-center">
				<h1>{% trans 'УСЛОВИЯ ВЫДАЧИ СЕРТИФИКАТА СООТВЕТСТВИЯ' %}</h1>
			</div>
			<br /><br /><br />
			<div>
				<h4>
					{% trans 'СЕРТИФИКАТ СООТВЕТСТВИЯ ВЫДАЕТСЯ ЗАЯВИТЕЛЮ ПРИ ВЫПОЛНЕНИИ СЛЕДУЮЩИХ ОБЯЗАТЕЛЬНЫХ УСЛОВИЙ ' %}:
				</h4>
				<p>
					- {% trans 'Заявитель должен предоставить всю информацию, которую орган по сертификации сочтет необходимой для принятия решения относительно процедуры оценки соответствия, выбора схемы сертификации, выбора нормативной документации и т.д' %}
				</p>
				<p>
					- {% trans 'Все несоответствия, выявленные в ходе проверки, устранены, и заявитель предоставил в ОС объективные доказательства их устранения' %}; 
				</p>
                <p>
                    - {% trans 'Результаты сертификации свидетельствуют: о соответствии требованиям НД; применимым законодательным требованиям' %}; {% trans 'о способности заявителя гарантировать стабильность выполнения установленных и предполагаемых требований' %};
                </p>
				<p>
					- {% trans 'Заявитель полностью выполнил свои договорные обязательства перед ОС' %};
				</p>
				<p>
					- {% trans 'Результаты работ по сертификации проверены и утверждены руководством ОС' %}.
				</p>
				<br />
			</div>
			<hr />
			<div style="font-size: 20px; font-weight: 500">
				<br />
				{% trans ' ОС после рассмотрения протокола(ов) испытаний, обследования состояния производства и документов'%} , <br />
				{% trans 'представленных заявителем с заявкой, выдает сертификат соответствия или отказывает в его выдаче. ОС'%} <br />
				{% trans 'письменно информирует Заявителя о принятом по результатам сертификации решении. Наличие' %} <br />
				{% trans 'письменного уведомления ОС является основанием для Заявителя информировать все заинтересованные' %} <br />
				{% trans 'стороны о результатах сертификации' %}.
				<br /><br />
			</div>
			<hr />
			<div style="font-size: 20px; font-weight: 500">
				<br />
				{% trans 'Сертификат оформляется на государственном или русском языках. Оформленный сертификат соответствия' %} <br />
				{% trans 'регистрируется в Государственном реестре НСС Уз. Сертификат действителен только при наличии' %} <br />
				{% trans 'регистрационного номера' %}.
				<br />
				<br />
			</div>
			<hr />
			<div style="font-size: 20px; font-weight: 500">
				<br />
				{% trans 'Орган по сертификации не должен заявлять или давать понять, что проведение сертификации будет проще, легче, быстрее или дешевле при обращении за услугами к конкретным консультирующим организациям.' %}
				<br />
			</div>
			<hr />
			<div style="font-size: 20px; font-weight: 500">
				<br />
				{% trans 'Сертификат соответствия выдается заявителю в течение двух рабочих дней, а при проведении ОС' %} <br />
				{% trans 'обследования производства — в течение пяти рабочих дней с момента получения ОС результатов испытаний' %}.
				<br />
				<br />
			</div>
			<hr />
			<div style="font-size: 20px; font-weight: 500">
				<br />
				{% trans 'Сертификат соответствия выдается на ввозимую продукцию на срок годности продукции, а для серийно' %} <br />
				{% trans 'производимой продукции — на 3 года'%}.
				<br />
			</div>
		</div>
	</section>
	<br /><br /><br />
	<br /><br /><br />
	<section class="back2" id="apl-form">
		<div style="display: flex; justify-content: center; align-items: center">
			<div class="text-white">
				<div class="container">
					<div class="row">
						<div class="col-md-6">
							<p style="font-size: 2.2rem">
								<strong
									>{% trans 'Нуждаетесь в услугах'%}<br />{% trans 'сертификации'%}?</strong
								>
							</p>
							<p style="font-size: 1.3rem">
								{% trans 'Берегите свое время, подайте заявку на проведение сертификации посредствам официального сайта '%}
								<a href="https://singlewindow.uz/">singlewindow.uz</a> !
							</p>
							<p style="font-size: 1.3rem">
								{% trans 'Здесь вы можете оставить свои предложения и вопросы по деятельности ООО "AUTO STANDART ETALON"'%}!
							</p>
							<form method="post" class="form" id="application-form">
								{% csrf_token %} {{ form.name.label_tag }} {{ form.name }}
								<p
									class="error-message"
									id="name-error"
									style="display: none; color: red"
								>
									{% trans 'Поле "ФИО" должно быть заполнено' %}
								</p>
								<br />
								{{ form.email.label_tag }} {{ form.email }}
								<p
									class="error-message"
									id="email-error"
									style="display: none; color: red"
								>
									{% trans 'Поле "Email" должно быть заполнено' %}
								</p>
								<br />
								{{ form.phone_number.label_tag }} {{ form.phone_number }}
								<p
									class="error-message"
									id="phone_number-error"
									style="display: none; color: red"
								>
									{% trans 'Поле "Номер"должно быть заполнено' %}
								</p>
								<br />
								{{ form.Comment.label_tag }} {{ form.Comment }}
								<br />
								<button
									type="submit"
									class="btn btn-warning"
									style="width: 150px; height: 60px; font-weight: 500"
								>
									{% trans 'Отправить' %}
								</button>
							</form>
							<div id="success-message" style="display: none">
    <form method="post" action="{% url 'feedback_form' %}">
        {% csrf_token %}
        <div class="success-message__item">
            <h2 class="text-success">
                ФОРМА БЫЛА УСПЕШНО ОТПРАВЛЕНА!
            </h2>
            <p style="font-size: 20px">
                Мы благодарим Вас за то, что Вы воспользовались услугами нашей лаборатории. Для оценки уровня предоставления услуг нашей лабораторией просим Вас ответить на несколько вопросов, которые помогут нам сделать услуги качественнее.
            </p>
            <ul style="font-size: 18px">
                <li>
                    Как вы оцениваете качество проводимых испытаний?
                    <div>
                        <input style="width: 30px" type="text" name="quality_rating" required> /10
                        <p class="error-message" id="quality_rating-error" style="display: none; color: red">
                            Поле "Качество проводимых испытаний" должно быть заполнено
                        </p>
                    </div>
                </li>
                <li>
                    Как вы оцениваете компетентность персонала в испытательном комплексе?
                    <div>
                        <input style="width: 30px" type="text" name="competence_rating" required> /10
                        <p class="error-message" id="competence_rating-error" style="display: none; color: red">
                            Поле "Компетентность персонала" должно быть заполнено
                        </p>
                    </div>
                </li>
                <li>
                    Как вы оцениваете качество обслуживания клиентов?
                    <div>
                        <input style="width: 30px" type="text" name="service_rating" required> /10
                        <p class="error-message" id="service_rating-error" style="display: none; color: red">
                            Поле "Качество обслуживания клиентов" должно быть заполнено
                        </p>
                    </div>
                </li>
                <li>
                    Ваши предложения и комментарии по улучшению нашей работы:
                    <textarea style="width: 100%" name="suggestions"></textarea>
                </li>
            </ul>

            <div class="success-message__close">
                <button type="button" class="success-message__close-item1">
                    Закрыть
                </button>
                <button type="submit" class="success-message__close-item">
                    Отправить
                </button>
            </div>
        </div>
    </form>
</div>


						</div>

						<div class="col-md-6 text-center cer">
							<br />
							<img
								src="{% static 'images/img16.jpg' %}"
								width="70%"
								class="img-fluid"
								alt=""
							/>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</main>
<style>
	#success-message {
		display: none;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, 40%);
		justify-content: center;
		align-items: center;
		padding: 10px 0;
	}

	.success-message__item {
		color: black;
		max-width: 500px;
		background-color: white;
		padding: 10px 20px;
		border-radius: 8px;
		overflow-y: auto;
		max-height: 50vh;
	}
	.success-message__close {
		display: flex;
		justify-content: end;
		gap: 10px;
	}
	.success-message__close-item {
		color: white;
		background-color: green;
		border: 0;
		padding: 10px 15px;
		border-radius: 8px;
	}
	.success-message__close-item1 {
		color: white;
		background-color: red;
		border: 0;
		padding: 10px 15px;
		border-radius: 8px;
	}
</style>
    <script>
    document.querySelector('.success-message__close-item').addEventListener('click', function(event) {
        event.preventDefault(); // Prevent the default form submission

        var feedbackForm = event.target.closest('form');

        // Clear previous error messages
        var errorElements = feedbackForm.querySelectorAll('.error-message');
        errorElements.forEach(function(errorElement) {
            errorElement.style.display = 'none';
        });

        // Validate required fields
        var qualityRating = feedbackForm.querySelector('input[name="quality_rating"]');
        var competenceRating = feedbackForm.querySelector('input[name="competence_rating"]');
        var serviceRating = feedbackForm.querySelector('input[name="service_rating"]');

        var isValid = true;

        if (!qualityRating.value) {
            var errorElement = document.getElementById('quality_rating-error');
            errorElement.style.display = 'block';
            isValid = false;
        }

        if (!competenceRating.value) {
            var errorElement = document.getElementById('competence_rating-error');
            errorElement.style.display = 'block';
            isValid = false;
        }

        if (!serviceRating.value) {
            var errorElement = document.getElementById('service_rating-error');
            errorElement.style.display = 'block';
            isValid = false;
        }

        if (!isValid) {
            return; // Stop form submission if validation fails
        }

        // If all required fields are filled, send the form via AJAX
        var formData = new FormData(feedbackForm);

        fetch(feedbackForm.action, {
            method: 'POST',
            body: formData,
            headers: {
                'X-CSRFToken': '{{ csrf_token }}' // Adding CSRF token in header
            }
        })
        .then(response => {
            if (!response.ok) {
                return response.json().then(data => {
                    throw data;
                });
            }
            return response.json();
        })
        .then(data => {
            if (data.message) {
                // Handle success
                console.log('Success:', data.message);
                feedbackForm.reset();
                document.getElementById('success-message').style.display = 'none';
            }
        })
        .catch(error => {
            if (error.errors) {
                // Handle validation errors from server
                Object.keys(error.errors).forEach(function (field) {
                    var errorElement = document.getElementById(field + '-error');
                    if (errorElement) {
                        errorElement.style.display = 'block';
                    }
                });
            } else {
                console.error('Error:', error);
            }
        });
    });

    document.querySelector('.success-message__close-item1').addEventListener('click', function() {
        document.getElementById('success-message').style.display = 'none';
    });
    document.querySelector('.success-message__close-item').addEventListener('click', function() {
        document.getElementById('success-message').style.display = 'none';
    });
    
</script>



<script>

	const successMessage = document.getElementById('success-message')

	const form = document.getElementById('application-form')




	document
    .getElementById('application-form')
    .addEventListener('submit', function (event) {
        event.preventDefault(); // Предотвращаем отправку формы по умолчанию

        var form = event.target;

        // Очищаем предыдущие сообщения об ошибках
        var errorElements = form.querySelectorAll('.error-message');
        errorElements.forEach(function (errorElement) {
            errorElement.style.display = 'none';
        });

        // Проверяем валидность полей формы
        var nameField = form.querySelector('#id_name');
        var emailField = form.querySelector('#id_email');
        var phoneField = form.querySelector('#id_phone_number');
        var commentField = form.querySelector('#id_Comment');

        var nameErrorElement = document.getElementById('name-error');
        var emailErrorElement = document.getElementById('email-error');
        var phoneErrorElement = document.getElementById('phone_number-error');

        var isValid = true;

        if (!nameField.value) {
            nameErrorElement.style.display = 'block';
            isValid = false;
        }

        if (!emailField.value) {
            emailErrorElement.style.display = 'block';
            isValid = false;
        }

        if (!phoneField.value) {
            phoneErrorElement.style.display = 'block';
            isValid = false;
        }

        if (!isValid) {
            return; // Прерываем отправку формы, если есть ошибки
        }

        // Блокируем кнопку отправки формы
        var submitButton = form.querySelector('button[type="submit"]');
        submitButton.disabled = true;
        submitButton.innerText = 'Отправка...';

        // Если все поля заполнены, отправляем форму AJAX-запросом
        var formData = new FormData(form);

        fetch(form.action, {
            method: 'POST',
            body: formData,
        })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    // Форма прошла валидацию, закрываем форму и отображаем сообщение об успешной отправке формы
                    commentField.value = '';
                    nameField.value = '';
                    emailField.value = '';
                    phoneField.value = '';
                    var successMessage = document.getElementById('success-message');
                    successMessage.style.display = 'flex';
                } else {
                    // Форма содержит ошибки валидации, отображаем ошибки
                    Object.keys(data.errors).forEach(function (field) {
                        var errorElement = document.getElementById(field + '-error');
                        if (errorElement) {
                            errorElement.style.display = 'block';
                        }
                    });
                }
            })
            .catch(error => {
                console.error('Произошла ошибка:', error);
            })
            .finally(() => {
                // Разблокируем кнопку после завершения запроса
                submitButton.disabled = false;
                submitButton.innerText = 'Отправить';
            });
    });
</script>

{% endblock %}
