{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block content %}
<main>
    <section class="back">
        <div style="display: flex; justify-content: center; align-items: center; height: 80vh;">
            <div class="text-white" style="text-align: left;">
                <div class="container">
                    <p style="font-size: 1.59rem;">
                        <strong>ОРГАН ПО СЕРТИФИКАЦИИ <br>
                            АВТОМОТОТРАНСПОРТНЫХ СРЕДСТВ</strong>
                    </p>
                    <p style="font-size:1.3rem;">
                        Орган по сертификации автомототранспортных средств, спецтехники и их составных частей, предметов
                        оборудования и прицепов.
                    </p>
                    <a href="#" class="btn btn-success btn-lg">Заказать услугу</a>
                </div>
            </div>
        </div>
    </section>
    <br><br><br>
    <section id="useful">
        <div class="container">
            <div class="text-center">
                <div style="font-size: 2.5rem;margin-bottom:80px;font-weight: 500;">
                    Наши преимущества
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6 col-lg my-4">
                    <div class="text-center">
                        <img src="{% static 'images/certificate.png' %}" width="100" alt="" class="img-fluid">
                    </div>
                    <br>
                    <div class="text-center" style="font-weight: 500;">
                        У НАС САМЫЕ ВЫГОДНЫЕ УСЛОВИЯ ДОГОВОРА
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg my-4">
                    <div class="text-center">
                        <img src="{% static 'images/clock.png' %}" width="100" alt="" class="img-fluid">
                    </div>
                    <br>
                    <div class="text-center" style="font-weight: 500;">
                        МЫ ПОМОЖЕМ ВАМ СЭКОНОМИТЬ ВАШЕ ВРЕМЯ
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg my-4">
                    <div class="text-center">
                        <img src="{% static 'images/operation-150x150.png' %}" width="100" alt="" class="img-fluid">
                    </div>
                    <br>
                    <div class="text-center" style="font-weight: 500;">
                        УДОБНАЯ ОПЛАТА
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg my-4">
                    <div class="text-center">
                        <img src="{% static 'images/deal.png' %}" width="100" alt="" class="img-fluid">
                    </div>
                    <br>
                    <div class="text-center" style="font-weight: 500;">
                        СОТРУДНИЧАЕМ С ПАРТНЕРАМИ
                    </div>
                </div>
            </div>
        </div>
    </section>
    <br><br><br>
    <section class="section" id="about">
        <div class="container">
            <br><br>
            <div class="text-center">
                <div style="font-size: 3rem;margin-bottom:80px;font-weight:500;">
                    О нас
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6 col-lg my-4">
                    <div class="text-center">
                        <img src="{% static 'images/img2.jpg' %}" width="400" alt="" class="img-fluid">
                    </div>
                    <div class="text-center">
                        <img src="{% static 'images/img3.jpg' %}" width="400"
                            style="position: relative;bottom:70px;left:10px;" alt="" class="img-fluid">
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg my-4">
                    <div style="font-size: 18px;">
                        ООО «“Toshkent Test va Sertifikatlashtirish”» <br> аккредитованный орган по сертификации <br> и
                        испытательная лаборатория продукции <br> легкой промышленности.
                        <br><br>
                        Специалисты органа по сертификации ООО <br> «“Toshkent Test va Sertifikatlashtirish”» <br>
                        помогут определить Вашу продукцию в <br> соответствии с перечнем и необходимость <br> проведения
                        обязательной сертификации. <br> Наши специалисты окажут Вам ощутимое <br> содействие при
                        прохождении <br> обязательной сертификации, что позволит <br> избежать многих «подводных камней»
                        и <br> трудностей.
                        <br><br>
                        Все услуги, оказываемые нашими <br> сотрудниками, будут выполняться в <br> максимально короткие
                        сроки и за <br> приемлемые цены.
                    </div>
                </div>
            </div>
            <br><br>
            <div class="text-center">
                <div>
                    <img src="{% static 'images/img5.jpg' %}" width="300" height="400" style="object-fit: cover;"
                        alt="">
                    <img src="{% static 'images/img6.jpg' %}" width="300" height="400" style="object-fit: cover;"
                        alt="">
                    <img src="{% static 'images/img4.jpg' %}" width="300" height="400" style="object-fit: cover;"
                        alt="">
                </div>
                <br>
                <div>
                    <img src="{% static 'images/img7.jpg' %}" width="299" height="400" style="object-fit: cover;"
                        alt="">
                    <img src="{% static 'images/img8.jpg' %}" width="300" height="400" style="object-fit: cover;"
                        alt="">
                    <img src="{% static 'images/img9.jpg' %}" width="300" height="400" style="object-fit: cover;"
                        alt="">
                </div>
            </div>
            <br><br>
        </div>
    </section>
    <section id="team">
        <div class="container">
            <br><br><br>
            <div class="text-center">
                <div style="font-size: 3rem;margin-bottom:80px;font-weight: 500;">
                    Наша команда
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6 col-lg my-4">
                    <div class="text-center">
                        <img src="{% static 'images/img10.jpg' %}" width="200" alt="" class="img-fluid"
                            style="border-radius:300px;">
                    </div>
                    <br>
                    <div class="text-center">
                        <div style="font-weight: 700;font-size: 20px;">
                            Ш.Б.Махамаджанов
                        </div>
                        <div style="font-style: italic;font-size: 18px;">
                            Директор
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg my-4">
                    <div class="text-center">
                        <img src="{% static 'images/img11.png' %}" width="200" alt="" class="img-fluid"
                            style="border-radius:300px;">
                    </div>
                    <br>
                    <div class="text-center">
                        <div style="font-weight: 700;font-size: 20px;">
                            А. Мустафаев
                        </div>
                        <div style="font-style: italic;font-size: 18px;">
                            Руководитель органа по сертификации продукции
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg my-4">
                    <div class="text-center">
                        <img src="{% static 'images/img12.jpg' %}" width="200" alt="" class="img-fluid"
                            style="border-radius:300px;">
                    </div>
                    <br>
                    <div class="text-center">
                        <div style="font-weight: 700;font-size: 20px;">
                            Б. Махкамов
                        </div>
                        <div style="font-style: italic;font-size: 18px;">
                            Начальник испытательной

                            лаборатории
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg my-4">
                    <div class="text-center">
                        <img src="{% static 'images/img13.jpg' %}" width="200" alt="" class="img-fluid"
                            style="border-radius:300px;">
                    </div>
                    <br>
                    <div class="text-center ">
                        <div style="font-weight: 700;font-size: 20px;">
                            Б. Толибов
                        </div>
                        <div style="font-style: italic;font-size: 18px;">
                            Главный специалист
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <br><br><br>
    <section class="back2">
        <div style="display: flex; justify-content: center; align-items: center; height: 80vh;">
            <div class="text-white">
                <div class="container">
                    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                    <div class="row">
                        <div class="col-md-6">
                            <p style="font-size: 2.2rem;">
                                <strong>Нуждаетесь в услугах<br>сертификации?</strong>
                            </p>
                            <p style="font-size:1.3rem;">
                                Оставьте заявку и мы с радостью вам поможем получить сертификат!
                            </p>
                            <form method="post" class="form" id="application-form">
                                {% csrf_token %}

                                {{ form.name.label_tag }}
                                {{ form.name }}
                                <p class="error-message" id="name-error"></p>

                                {{ form.email.label_tag }}
                                {{ form.email }}
                                <p class="error-message" id="email-error"></p>

                                {{ form.phone_number.label_tag }}
                                {{ form.phone_number }}
                                <p class="error-message" id="phone_number-error"></p>

                                {{ form.Comment.label_tag }}
                                {{ form.Comment }}

                                <button type="submit" class="btn btn-warning"
                                    style="width: 150px; height: 60px; font-weight: 500;">Отправить</button>
                            </form>
                            <div id="success-message" style="display: none;">
                                <h1>ФОРМА БЫЛА УСПЕШНО ОТПРАВЛЕНА!</h1>
                            </div>


                        </div>

                        <div class="col-md-6 text-center">
                            <br>
                            <img src="{% static 'images/img16.jpg' %}" width="70%" class="img-fluid" alt="">
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
</main>
<style>
    #success-message {
        display: none;
    }
</style>
<script>
    document.getElementById('application-form').addEventListener('submit', function (event) {
        event.preventDefault(); // Предотвращаем отправку формы по умолчанию

        var form = event.target;

        // Очищаем предыдущие сообщения об ошибках
        var errorElements = form.querySelectorAll('.error-message');
        errorElements.forEach(function (errorElement) {
            errorElement.textContent = '';
        });

        // Проверяем валидность полей формы
        // Проверяем валидность полей формы
        var nameField = form.querySelector('#id_name');
        var emailField = form.querySelector('#id_email');
        var phoneField = form.querySelector('#id_phone_number');

        var nameErrorElement = document.getElementById('name-error');
        var emailErrorElement = document.getElementById('email-error');
        var phoneErrorElement = document.getElementById('phone_number-error');

        var isValid = true;

        if (!nameField.value) {
            nameErrorElement.textContent = 'Поле "ФИО" должно быть заполнено.';
            nameErrorElement.classList.add('error-message'); // Добавление класса для стилизации
            isValid = false;
        }

        if (!emailField.value) {
            emailErrorElement.textContent = 'Поле "Email" должно быть заполнено.';
            emailErrorElement.classList.add('error-message'); // Добавление класса для стилизации
            isValid = false;
        }

        if (!phoneField.value) {
            phoneErrorElement.textContent = 'Поле "Номер телефона" должно быть заполнено.';
            phoneErrorElement.classList.add('error-message'); // Добавление класса для стилизации
            isValid = false;
        }


        if (!isValid) {
            return; // Прерываем отправку формы, если есть ошибки
        }

        // Если все поля заполнены, отправляем форму AJAX-запросом
        var formData = new FormData(form);

        fetch(form.action, {
            method: 'POST',
            body: formData
        })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    // Форма прошла валидацию, закрываем форму и отображаем сообщение об успешной отправке формы
                    form.style.display = 'none';
                    var successMessage = document.getElementById('success-message');
                    successMessage.style.display = 'block';
                } else {
                    // Форма содержит ошибки валидации, отображаем ошибки
                    Object.keys(data.errors).forEach(function (field) {
                        var errorMessage = data.errors[field];
                        var errorElement = document.getElementById(field + '-error');
                        if (errorElement) {
                            errorElement.textContent = errorMessage;
                        }
                    });
                }
            })
            .catch(error => {
                console.error('Произошла ошибка:', error);
            });
    });


</script>


{% endblock %}